<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Examen</title>
</head>
<body>
    <h1>Crear examen para el curso: {{ curso.titulo }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="">Dijite la fecha en formato: YYYY-MM-DDTHH:MM</label>
        {{ opcion_formset.management_form }}
        {% for form in opcion_formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit">Guardar Examen</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

</body>
</html>
